<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XPS TransferKey="{AESKW}soUdrZHtpXwSDairCvOcISWjFkMAr8QDDv47vdD3/a3FzN/HeIm/vVDdh0gtoxh6">
    <XPSVersion>1</XPSVersion>
    <HostInformation>WIN-R605P14ET07</HostInformation>
    <XPSAdmin>os:AMAZONAWS/Administrator</XPSAdmin>
    <PolicyData IsDumpExport="true">
        <References/>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </PolicyData>
    
</XPS>
